@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-style: normal;
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body {
    background: url(/images/pattern-circles.svg) no-repeat center 5.7rem, url(images/bg-pattern.svg)  no-repeat;
    background-size: auto, auto 40rem;
}

main {
    height: 62.3rem;
    max-width: 32.7rem;
    margin: 0 2.4rem 0 2.4rem;
    outline: 0.2rem solid red;
}
h1 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: center;
    margin: 0 0.75rem 0 0.75rem;
    color: #293356;
}
h2 {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #848EAD;
    margin: 0.8rem 2.5rem 6.4rem 2.4rem;
    text-align: center;
}
.pricing-container {
    width: 100%;
    height: 47.8rem;
    box-shadow: 0rem 2rem 3rem -0.5rem rgba(127, 137, 185, 0.152073);
    border-radius: 0.8rem;
    background: #FFFFFF;
}
.pricing-container > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.4rem 0 3.4rem 0;
}
h3 {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.171429rem;
    text-transform: uppercase;
    color: #848EAD;
} 
#slider input {
    max-width: 27.9rem;
    height: 9.8rem;
    background-color: #A4F3EB;
    border-radius: 0.5rem;
}
